[data-component='vibe-card'] {
  width: calc(100% * (1 / 3) - 10px - 1px);
  max-width: 350px;
  flex-grow: 1;
  display: inline-block;
  min-width: 300px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

  .content {
    height: 60px;
  }

  .media {
    height: 250px;
  }

  .actions {
    .button-actions {
      flex: 1;
    }
  }
}
