[data-component='vibe-header'] {
  .header-title {
    cursor: default;
    user-select: none;
    font-size: 1.25rem;
    width: 100%;
  }

  [data-component='search-bar'] {
    margin-right: auto;
    margin-left: auto;
    transition: background-color 0.5s;
    border-radius: 20px;
  }

  .header-account-icon {
    color: white;
    font-size: 30px;
  }
}
