@import '../../../style/variables.scss';

[data-component='article-card'] {
  max-width: unset;
  display: flex;
  flex-direction: column;

  @media (max-width: 999px) {
    height: 550px;
  }

  .content {
    padding: 10px 16px 5px 16px;
  }

  .title-divider {
    border-bottom: 1px solid #dadce0;
  }

  .pdf-zone {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .lyrics-upload-dropzone {
      height: 250px;
      width: 250px;
      align-self: center;
      border-radius: 15px;
      cursor: pointer;

      > div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #bdbdbd;
        transition: color 305ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        outline: none;

        &:hover {
          color: #616161;
        }

        .upload-icon {
          font-size: 90px;
        }

        .upload-description-text {
          width: 195px;
          text-align: center;
        }
      }
    }

    .loading-component {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .circular-progress {
        margin-bottom: 35px;
      }

      .loading-text {
        color: $description-text-color;
      }
    }

    .responsive-iframe {
      position: relative;
      height: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;

      object {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pdf-mobile-zone {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 55%;
          text-align: center;

          .zone-description-text,
          .down-arrow {
            color: $black-icon-grey-color;
            cursor: default;
            user-select: none;
          }

          .zone-description-text {
            margin-block-end: unset;
            margin-bottom: 8px;
          }

          .down-arrow {
            margin-bottom: 10px;
            -moz-animation: bounce 2s infinite;
            -webkit-animation: bounce 2s infinite;
            animation: bounce 2s;
          }

          .pdf-icon {
            height: 65px;
            margin-bottom: 10px;
          }

          .open-button {
            .open-in-new-icon {
              font-size: 15px;
              margin-left: 5px;
            }
          }
        }
      }

      object,
      embed,
      iframe {
        height: 100%;
        width: 100%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .media {
    height: 80%;
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  60% {
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

// Thanks to https://codepad.co/snippet/pure-css-arrow-down-bouncing-animation
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  60% {
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  60% {
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
