

div[data-component="vibe-carousel"]{
    display: flex;
    align-items: center;
    width: 100%;

    div[data-component="vibe-carousel-content"]{
        flex: 1;
        width: 70%;
        background-color: lightgray;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
        
        div[data-component="content-list"]{
            display: flex;
            width: initial;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;

            img.music-image {
                width: 25%;
                height: 30%;
            }

            h4.music-title {
                text-transform: uppercase;
                font-weight: bold;
            }

            div[data-component="item" ] {
            }
        }
    }
}