.consulted-article {
    padding-top: 84px;
    display: flex;
    justify-content: center;

    [data-vibe="consult-card"] {
        padding-top: 10px;
        padding-right: 65px;
        padding-left: 65px;
        flex-grow: 1;
        display: inline-block;
        display: flex;
        justify-content: center;

        .article-consult-corpus {
            display: flex;
            flex-direction: column;
            * {
                display: block;
            }

            .article-consult-tablature {
                width: 200px;
                align-self: center;
            }
        }
    }
}
