.global-layout {
    height: 100%;

    [data-focus='global-appbar-title'] {
        display: flex;

        .global-appbar-search {
            display: flex;
            flex: 1;
            justify-content: center;
            padding-left: 35px;

            .searchbar-container {
                display: flex;
                background-color: rgba(0,0,0,0.18);
                width: 500px;
                height: 48px;
                transition: background 0.2s ease-in-out;
                border-radius: 6px;
                align-items: center;
                padding-left: 10px;
                margin-top: 5px;

                &:hover {
                    transition: background 0.2s ease-in-out;
                    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
                    background-color: transparent !important;
                }
            }
        }
    }

    .add-button {
        margin: 0px;
        bottom: 32px;
        right: 32px;
        left: auto;
        top: auto;
        position: fixed;
        padding-left: 0px;
        -webkit-transform: scale(0,0);
        transform: scale(0);
    }

    .show {
        -webkit-animation: bummer 0.5s;
        animation: popup 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes bummer {
        100% {
            -webkit-transform: scale(1,1);
        }
    }

    @keyframes popup {
        100% {
            transform: scale(1,1);
        }
    }
}
