@import '../../style/variables.scss';

[data-component='article-list'][data-has-list='false'] {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

[data-component='article-list'] {
  [data-component='empty-state'] {
    .file-icon {
      font-size: 70px;
      margin-bottom: 25px;
      color: $black-icon-grey-color;
    }

    .title {
      font-size: 23px;
      margin-bottom: 10px;
      color: $description-text-header-color;
    }

    .description {
      color: $description-text-color;
      width: 270px;
      font-size: 15px;
      text-align: center;
    }
  }

  .arrow-forward-icon {
    position: fixed;
    transition: opacity 0.3s ease-in;
    bottom: 30px;
    right: 80px;
    color: $black-icon-grey-color;
  }

  .down-arrow {
    position: fixed;
    transition: opacity 0.3s ease-in;
    bottom: 75px;
    right: 85px;
    color: $black-icon-grey-color;
  }

  .down-arrow[data-show-arrow='true'] {
    animation: bounce 2s;
  }

  .arrow-forward-icon[data-show-arrow='true'] {
    animation: bounce_right 2s;
  }

  .arrow-forward-icon[data-show-arrow='true'],
  .down-arrow[data-show-arrow='true'] {
    opacity: 1;
  }

  .arrow-forward-icon[data-show-arrow='false'],
  .down-arrow[data-show-arrow='false'] {
    opacity: 0;
  }

  #create-article-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: transform 0.2s;

    .create-button {
      .add-icon {
        margin-right: 5px;
      }
    }
  }

  #create-article-button.show {
    transform: scale(1);
  }

  #create-article-button.show[data-is-clicked='true'] {
    animation: button_bounce 0.61s;
  }

  #create-article-button.hide {
    transform: scale(0);
  }
}

.vibe-dialog.create-article-dialog {
  > div {
    > div {
      max-width: unset;
    }
  }

  @media (max-width: 750px) {
    > div {
      > div {
        width: 93%;
        margin: 3%;

        .dialog-content {
          padding: 15px;

          .create-article-content {
            .article-name {
              width: unset;
            }

            .file-upload-zone {
              flex-direction: column;
              align-items: flex-start;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 751px) {
    > div {
      > div {
        width: 600px;

        .create-article-content {
          .article-name {
            width: 40%;
          }
        }
      }
    }
  }

  .create-article-content {
    display: flex;
    flex-direction: column;

    .file-upload-zone {
      display: flex;
      justify-content: space-around;

      .upload-dropzone {
        display: flex;

        .label {
          width: 70%;
          margin-right: 10px;
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@keyframes bounce_right {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(-4px);
  }
}

[data-component='empty-state'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes button_bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.6);
  }
}
